@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
    background-color: #6B7280;
}

.navigation{
    height: 100vh;
    background-image: url(Food8.jpeg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;    
}


/*================= Navigation bar ===============*/
 

.nav-bar{
    top: 0;
    width: 100%;
    display: flex;
    padding: 20px 90px;
    justify-content: space-between;
    font-family: 'Poppins' , sans-serif;
    background-color: white;
    box-shadow: 0px 2px 10px rgb(57,56,61,0.6);
    position: fixed;

}
.navigation .nav-bar .logo{
    font-family: 'Poppins' , sans-serif;
    font-size: 25px;
    color: #6B7280;
    
}

.nav-links ul li{
    display: inline-block;
    margin-left: 45px;  
    margin-top: 10px;  
}
.nav-links ul li a{
    color: #9CA3AF;
    font-weight: 600;
    font-size: 19px;
   
}
.nav-links ul li a:hover{
    color: #6B7280;
}

/*========== BANNER SECTION ==========*/


.banner-contant{
    text-align: left;  
    margin: 250px 150px;   
}
.banner-contant .heading h4{
    text-align: left;
    color: #6B7280;
    font-family: 'Poppins' , sans-serif;
    font-size: 45px;   
}
.banner-contant .heading h6{
    font-size: 15px;
    font-family: 'Poppins' , sans-serif;
    color: #fff;
}
.banner-contant .heading p{
    font-size: 25px;
    font-family: 'Ubuntu';
    font-weight: 300;
    color: #fff;
}
.banner-contant .btna{
    padding: 10px 20px;
    border: 2px solid #6B7280;
    color: #6B7280;
    
    font-weight: bold;
    font-family: 'Poppins' , sans-serif;
    transition: all .3s ease;
    transition-property: background-color, color;
    margin-top: 13px;
    border-radius: 5px;
    cursor: pointer;   
    background-color:transparent; 
}
.banner-contant .btna:hover{
    border: 2px solid #6B7280;
    background-color: #6B7280;
    color: #fff;
}
.banner-contant .btn{
    padding: 10px 20px;
    border: 2px solid #6B7280;
    color: #fff;
    background-color: #6B7280;
    font-weight: bold;
    font-family: 'Poppins' , sans-serif;
    transition: all .3s ease;
    transition-property: background-color, color;
    margin-top: 13px;
    border-radius: 5px;
    cursor: pointer;    
}
.banner-contant .btn:hover{
    border: 2px solid #6B7280;
    background-color:transparent;
    color: #6B7280;
}


/*================= FOOD CATEGORIES SECTION ===============*/

.categories{
    width: 100%;
    background-color: #F9FAFB;
    
}
.categories-wrap{
    margin-bottom: 15px;
}
.text{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.text h3{
    font-family: 'Poppins',sans-serif;
    font-size: 50px;
    color: #6B7280;
}

.c-text{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 16px;  
   
}
.c-text h4{
    font-family: 'Poppins';
    font-size: 20px;
    color: #6B7280;
    border: 3px solid #6B7280;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 5px;
}

.indian-item{
    width: 100%;
    display: flex;
    justify-content: center;
}
.categories-wrap{
    margin-left: 30px;
    border-radius: 8px;
    border: white;
    background-color: white;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    
}
.categories-wrap:hover{
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.36);
}
.categories-wrap img{
    height: 190px;
    width: 350px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.categories-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 10px;
    
}
.categories-info p{
    margin-left: 10px; 
    margin-top: 5px;
    font-size: 20px;
    font-weight: 100;
}

.categories-info .btn{
    padding: 8px 18px;
    border: 2px solid #6B7280;
    color: #fff;
    background-color: #6B7280;
    font-weight: bold;
    font-family: 'Poppins' , sans-serif;
    transition: all .3s ease;
    transition-property: background-color, color;
    border-radius: 5px;
    cursor: pointer;  
    width: 100px;  
    height: 40px;
    margin-left: 120px;
}
.categories-info .btn:hover{
    border: 2px solid #6B7280;
    background-color:#D1D5DB;
    color: #6B7280;
}

/*================= SUBSCRIBE SECTION ===============*/

.subscribe{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    background-color: #D1D5DB;
    height: 100%;
}

.subscribe-container{
   
    display: flex;
    width:100%;
    justify-content: center;
}

.subscribe-container img{
    
    height: 220px;
    width: 369px;
   border-top-left-radius: 6px; 
   border-bottom-left-radius: 6px;
}

.subscribe-content{
    padding: 20px 10px;
    margin-top: 25px;
}
.subscribe-text{
    margin-top: 5px;
}
.subscribe-content h3{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    color: #6B7280;
    
}
.subscribe-content .btn{
    padding: 10px 20px;
    border: 2px solid #6B7280;
    color: #fff;
    background-color: #6B7280;
    font-weight: bold;
    font-family: 'Poppins' , sans-serif;
    transition: all .3s ease;
    transition-property: background-color, color;
    margin-top: 13px;
    cursor: pointer;    
}
.subscribe-content .btn:hover{
    border: 2px solid #6B7280;
    background-color:transparent;
    color: #6B7280;
}

.subscribe-content input{
    padding: 13px 20px;  
    width: 400px;
    border: 2px solid #D1D5DB;
    
}

/*================= FOOTER SECTION ===============*/
.footer{
    background-color: #6B7280;
    padding: 0 0 30px 0;
}

.footer .footer-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.footer .footer-container .footer-contact,
.footer .footer-container .footer-heading{
    margin-top: 10px;
}

.footer .footer-container .footer-heading{
    margin-right: 70px;
}
.footer .footer-container .footer-contact{
    margin-left: 70px;
}
.footer .footer-container .footer-info{
    margin-top: 5px;
}
.footer .footer-container .footer-info h3{
    color: white;
    font-size: 5rem;
    font-family: 'Poppins',sans-serif;
    border-left: 8px solid white;
    letter-spacing: 3px;
    margin: 0 0 20px 0;
    padding: 0 0 0 8px;
    line-height: 1;
}
.footer .footer-container .social-links a{
    font-size: 18px;
    display: inline-block;
    color: #6B7280;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-top: 5px;
    background: white;
}
.footer .footer-container .social-links a:hover{
    color: white ;
    background: #6B7280;
}
.footer .footer-contact{
    font-family: 'Poppins',sans-serif;
}
.footer .footer-contact h4{
    color: white;
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 8px;
    border-bottom: 4px solid white;
}
.footer .footer-contact p{
    color: white;

}
/*============== COPYRIGHT ===============*/
.footer .container{
    background-color: #9CA3AF;
    padding: 10px ;
}
.footer .container .copyright{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}
.footer .container .credits{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}

/*================================== Respnosive Section ==========================*/
 /*---------------------- inside nav-bar  --------------- */
 .nav-bar .fa{
    display: none;
}

    

@media (max-width:550px){

    .navigation{
        width:100%;
        height: 100vh;
        background-image: url(Food8.jpeg);
        background-position: center;
        background-size: cover;
        overflow-x: hidden;
        position: relative;    
    }
    body{
        width: 100%;
        background-color: #6B7280;
    }
    .navigation .banner-contant{
        margin: 250px 40px;

    }
    .banner-contant .heading h4{
        font-size: 20px;
    }
    .banner-contant .heading p{
        font-size: 15px;
        font-family: 'Ubuntu';
        font-weight: 300;
        color: black;
    }
    /*===== banner button =========*/
    .banner-contant .btna{
        padding: 5px 10px;
        border: 2px solid #6B7280;
        color: #6B7280;
        
        font-weight: bold;
        font-family: 'Poppins' , sans-serif;
        transition: all .3s ease;
        transition-property: background-color, color;
        margin-top: 13px;
        border-radius: 5px;
        cursor: pointer;   
        background-color:transparent; 
    }
    .banner-contant .btna:hover{
        border: 2px solid #6B7280;
        background-color: #6B7280;
        color: #fff;
    }
    .banner-contant .btn{
        padding: 5px 10px;
        border: 2px solid #6B7280;
        color: #fff;
        background-color: #6B7280;
        font-weight: bold;
        font-family: 'Poppins' , sans-serif;
        transition: all .3s ease;
        transition-property: background-color, color;
        margin-top: 13px;
        border-radius: 5px;
        cursor: pointer;    
    }
    .banner-contant .btn:hover{
        border: 2px solid #6B7280;
        background-color:transparent;
        color: #6B7280;
    }

    .nav-bar{
        padding: 10px 30px;

    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa{
        display: block;
        color: #6B7280;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links{
        height: 100vh;
        width: 180px;
        background: white;
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
    }
    .nav-links ul a{
        display: block;
    }
    .nav-links  .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    }

    /*================= FOOD CATEGORIES SECTION ===============*/

.categories{
    background-color: #F9FAFB;
    width: 100%;
    
}

.indian-item{
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.text{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.text h3{
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    color: #6B7280;
}

.c-text{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 16px;  
   
}
.c-text h4{
    font-family: 'Poppins';
    font-size: 15px;
    color: #6B7280;
    border: 3px solid #6B7280;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 5px;
}
.categories-wrap{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 300;
    border-radius: 8px;
    border: white;
    background-color: white;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    
}
.categories-wrap:hover{
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.36);
}
.categories-wrap img{
    height: 150px;
    width: 302px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.categories-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 12px;
    
}
.categories-info p{
    margin-left: 10px; 
    margin-top: 5px;
    font-size: 20px;
    font-weight: 100;
}



/*footer*/


.footer .footer-container{
    align-items: left;
    padding: 10px;
    flex-direction: column;
}
.footer .footer-container .footer-info h3{
    color: white;
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;
    border-left: 4px solid white;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
    padding: 0 0 0 6px;
    line-height: 1;
}

.footer .footer-container .social-links a{
    font-size: 12px;
    display: inline-block;
    color: #6B7280;
    line-height: 1;
    padding: 6px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 28px;
    height: 28px;
    transition: 0.3s;
    margin-top: 5px;
    background: white;
}
.footer .footer-container .social-links a:hover{
    color: white ;
    background: #6B7280;
}

.footer .footer-contact h4{
    color: white;
    font-size: 1.1rem;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 6px;
    border-bottom: 3px solid white;
}
.footer .footer-contact p{
    color: white;

}

.footer .footer-container .footer-contact,
.footer .footer-container .footer-heading{
    margin-top: 10px;
}

.footer .footer-container .footer-heading{
    margin-right: 70px;
}
.footer .footer-container .footer-heading,
.footer .footer-container .footer-contact{
    margin-left: 5px;
}
.footer .footer-container .footer-info{
    margin-top: 5px;
}

/*============== COPYRIGHT ===============*/
.footer .container{
    background-color: #9CA3AF;
    padding: 10px ;
}
.footer .container .copyright{
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    
}
.footer .container .credits{
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    
}



/*================= SUBSCRIBE SECTION ===============*/

.subscribe{
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    background-color: #D1D5DB;
    height: 100%;
}

.subscribe-container{
    width:100%;
   flex-direction: column;
}

.subscribe-container img{
    
    height: 150px;
    width: 320px;
   border-top-left-radius: 6px; 
   border-bottom-left-radius: 6px;
   display: flex;
   justify-content: center;
}

.subscribe-content{
    padding: 20px 10px;
    margin-top: 25px;
}
.subscribe-text{
    margin-top: 2px;
}
.subscribe-content h3{
    font-family: 'Poppins',sans-serif;
    font-size: 17px;
    color: #6B7280;
    
}
.subscribe-content .btn{
    padding: 6px 15px;
    border: 2px solid #6B7280;
    color: #fff;
    background-color: #6B7280;
    font-weight: bold;
    font-family: 'Poppins' , sans-serif;
    transition: all .3s ease;
    transition-property: background-color, color;
    margin-top: 13px;
    cursor: pointer;    
}
.subscribe-content .btn:hover{
    border: 2px solid #6B7280;
    background-color:transparent;
    color: #6B7280;
}

.subscribe-content input{
    padding: 10px 20px;  
    width: 300px;
    border: 2px solid #D1D5DB;
    
}

}
